



<div class="container">
 <div class="jumbotron">

    <h1>gCamp</h1>
    <p>Your life, organized.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class ="lead">
          <%= image_tag("Image 3.jpg", class: "img-responsive") %>
        </p>

        <div class="panel panel-primary">
          <div class="panel-heading">
            Tasks
          </div>
          <div class="panel-body">
            Grouped by projects and lists, just the way you like'em
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p class ="lead">
          <%= image_tag("Image 1.jpg", class: "img-responsive") %>
        </p>
        <div class="panel panel-primary">
          <div class="panel-heading">
            Documents
          </div>
          <div class="panel-body">
            <ul>
              <li>Upload
                <li>Comment
                  <li>Revise
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <p class="lead">
              <%= image_tag("Image 2.jpg", class: "img-responsive") %>
            </p>
            <div class="panel panel-primary">
              <div class="panel-heading">
                Comments
              </div>
              <div class="panel-body">
                <ul>
                  <li>Comment on tasks and documents
                    <li>Get email notifications </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <% @quotes.each do |name, quote| %>
          <p>"<%= quote %>"</p>
          <p class="text-muted"><em>- <%= name %></em></p>
          <% end %>



        <footer>
        <div class="row">
        <div class="col-md-6">
        <a href="/about">About</a>
        |
        <a href="/terms">Terms</a>
        |
        <a href="/faq">FAQ</a>
        |
        <a href="/tasks">Tasks</a>
      </div>
      <div class="col-md-6 text-right">

      <a href="https://www.linkedin.com">
      <img alt="Linked in" class="img-footer" src="https://g-camp.herokuapp.com/assets/linked_in-f852478f8950eb3fca3367cb545aaa52.jpg">
    </a>
    <a href="https://github.com/">
    <img alt="Github" class="img-footer" src="https://g-camp.herokuapp.com//assets/GitHub-de8164cc6a609537cfdab331e002ebb3.png">
  </a>
  <a href="https://twitter.com/">
  <img alt="Twitter" class="img-footer" src="https://g-camp.herokuapp.com//assets/Twitter-0c8c529fb7181e05ab5c30416e3a70fa.png">
</a>

<a href="https://students.gschool.it/">
<img alt="Galvanize g" class="img-footer" src="https://g-camp.herokuapp.com//assets/galvanize-g-b3da24895ed7d4fd33c43d9226c16242.png">
</a>        </div>
</footer>

</div>
