
<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-info" href="/projects/<%= @project.id %>/edit">Edit</a>
  </div>
  <h1> <%= @project.name %></h1>
</div>
<%= link_to "Project Tasks", project_tasks_path(@project) %>
<%= link_to "New Task", new_project_task_path(@project) %>



<p>
  <ol class="breadcrumb">
    <li><a href="/projects">Projects</a></li>
    <li class="active"><%= @project.name %></li>
  </ol>

</p>
