<body>

<div class = "container">
  <div class = "page-header">
    <h1>About</h1>
  </div>



  <div class="row">
    <div class="col-md-4">
      <p class ="lead">
        <%= image_tag("about page image.jpg", class: "img-responsive") %>
      </p>
</div>


<div class="col-md-8">
  <p>We are dedicated to the makers, the creators, the risk-takers.</p>
  <br>
  <p>  We wake up in the middle of the night and furiously write down ideas about how to make your online life better.</p>
  <br>
  <p>  Human collaboration and communication is what drives us, and it infuses every feature of gCamp.</p>
  <br>
  <p> <%= @project.count %> Projects, <%= @task.count %> Tasks, <%= @membership.count %> Memberships, <%= @user.count %> Users, <%= @comment.count %> Comments </p>
</div>
</div>
</div>
</body>
