<!DOCTYPE html>
<html>
<head>

  <title>GCamp</title>
  <%= favicon_link_tag 'pokeball.ico' %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand" href="#">gCamp</a>


      </div>
      <div id="navbar" class="navbar-collapse collapse">

      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <div class="container" id="top">
    <div class="container">
    <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  </div>
  <% end %>
    <%= yield %>


    <footer>
      <div class="row">
        <div class="col-md-6">
          <a href="/about">About</a>

          |
          <a href="/terms">Terms</a>
          |
          <a href="/faq">FAQ</a>
          |
          <a href="/tasks">Tasks</a>
        </div>
        <div class="col-md-6 text-right">

          <a href="https://www.linkedin.com/pub/nick-kalinoski/a7/585/116/">
            <img alt="Linked in" class="img-footer" src="https://g-camp.herokuapp.com/assets/linked_in-f852478f8950eb3fca3367cb545aaa52.jpg">
          </a>
          <a href="https://github.com/nkalinos">
            <img alt="Github" class="img-footer" src="https://g-camp.herokuapp.com//assets/GitHub-de8164cc6a609537cfdab331e002ebb3.png">
          </a>
          <a href="https://twitter.com/NickKalinoski">
            <img alt="Twitter" class="img-footer" src="https://g-camp.herokuapp.com//assets/Twitter-0c8c529fb7181e05ab5c30416e3a70fa.png">
          </a>

          <a href="http://students.gschool.it/students/216">
            <img alt="Galvanize g" class="img-footer" src="https://g-camp.herokuapp.com//assets/galvanize-g-b3da24895ed7d4fd33c43d9226c16242.png">
          </a>        </div>
        </footer>
      </div> <!-- /container -->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


  </body>
  </html>
